/* * {
  font-size: 10px;
} */

.app-container {
  --text-size-1: 2.5em;
  --text-size-2: 1.5em;
}

header {
}

ht-header {
  display: flex;
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul > li {
  font-size: var(--text-size-2);
}

title {
  display: block;
  font-size: var(--text-size-1);
}
